<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
   
    {% if type == 'close' %}
    <script type="text/javascript">
        window.close();
    </script>
    {% endif %}
    <script type="text/javascript">
  
    function joinBtn(){
        fetch('http://localhost:3000/user/join') // new Promise 
        .then(data => {
            return data.text(); // new Promise
        })
        .then(text => {
            document.querySelector("#join_view").innerHTML = text;
        })
    }

        function password_check(){
        return pwd1.value != pwd2.value;
    }
        function password_check2(){
            if(pwd1.value==''){
                return true
            }else{
               return false
            }
        }

    function btn20 (){
        pwd1 = document.querySelector('#userpw');
        pwd2 = document.querySelector('#userpw_check');
        btn = document.querySelector('#login_submit');
        login_frm = document.querySelector('#login_frm')

        pwd_check = password_check();
        pwd_check2 = password_check2();
        if (pwd_check){
            alert('비번이 일치하지 않습니다')
            return
        }
        if (pwd_check2){
            alert('비번을 입력하지 않았습니다')
            return
        }
        console.log('asdfasdf')
        login_frm.submit();//조건이 맞을때만
    }

        // if(pwd_check2==false){
        //     console.log(pwd_check2);
        //     alert('비번 안적었어.')
        //     return 
        // }
        // if(pwd_check){
        //     login_frm.submit();//조건이 맞을때만
        // }
        // else{
        //     pwd1.value = '';
        //     pwd2.value = '';
        //     pwd1.focus();
        //     alert('비번 다시적어 못봤어.');
        // }
        // }
       
//    async function kim(){
//     const userid_msg = document.querySelector('#userid_msg')
//     const userid = document.querySelector('#userid')
//         let gg = await fetch(`http://localhost:3000/user/userid_value?userid=${userid.value}`)
//         console.log(userid)
//         .then(data =>{
//             return data.json();
//             console.log(data.json())
//         })
        
//         .then(json =>{
//             login = gg.json.login;
//             if(login){
//                 userid_msg.innerHTML = '사용가능 아이디'
//             }else{
//                 userid_msg.innerHTML = '불가능 아이디'
//             }
//         })
//     }
     
    async function userid_check(){
        const userid_msg = document.querySelector('#userid_msg')
        console.log(userid_msg)
        const userid = document.querySelector('#userid')
        console.log(userid)
        console.log('aaa')
        
        let wow = await axios.get(`http://localhost:3000/user/userid_value?userid=${userid.value}`);
        console.log(`http://localhost:3000/user/userid_value?userid=${userid.value}`)
        console.log(wow)
      
        //ajax로 가져왔다 가정 중복 false 중복아니다 true
        //서버에 보내서 데이터를 조회하고 결과가 조회되면 트루 안되면 펄스 중복이냐 아니냐
        login_flag = wow.data.login;
        // console.log(login_flag) //언디파인드
        if(login_flag){
            userid_msg.innerHTML = '올바른 아이디입니다.'
            userid_msg.style.color = 'white';
        }else{
            userid_msg.innerHTML = '중복된 아이디입니다.'
            userid_msg.style.color = 'black';
        }
    }
    </script>

</head>
<body>
    
<div id="wrap">
    <div class="tt">
        {{userid}}<br/>
        {{username}}<br/>
        {% if isLogin %}
        <a href='./user/logout'>갈겨?</a>
        {% endif %}
    </div>
    <div id="content">
        <div class="ToDo wt50" style="opacity: 1;">
            <h2 class="tb">게시판</h2>
            <div id="board_view">
         
            </div>
        </div>
       
        <div class="join wt50" style="opacity: 1;">
            <h2 class="bt"> 회원가입/로그인</h2>
            <div id="join_view">
         
            </div>
        </div>
   
        <div class="Weather wt50" style="opacity: 1;">
            <h2>오늘 날씨</h2>
            <div id="weather_view">
                
            </div>
        </div>

        <div class="Home wt50">
            <h2>테트리스 게임</h2>
            <div id="Home_view" style="display:none;">
                <iframe src="http://localhost:3000/html/index.html" height=700 width=750 style="border:none;"></iframe>
            </div> 
        </div>
      
        <label id="userId">
            <span class="sp"></span>
            <span class="sp"></span>
            <span class="sp"></span>
        </label>
    </div>
</div>
<script type="text/javascript">
document.querySelector(".Home").addEventListener('click', function () {
    document.querySelector(".Home").style.width ="100%"
    document.querySelector(".Home").style.height ="100%";
    document.querySelector(".Home").style.top ="0%";
    document.querySelector("#Home_view").style.display = 'block';
    /*
    fetch('http://localhost:3000/saying') // new Promise 
    .then(data => {
        return data.text(); // new Promise
    })
    .then(text => {
        console.log(text);
        document.querySelector("#Home_view").innerHTML = text;
    })
    */
});
document.querySelector(".Weather").addEventListener('click', function () {
    document.querySelector(".Weather").style.width ="100%";
    document.querySelector(".Weather").style.height ="100%";
    document.querySelector(".Weather").style.top ="0%";
    document.querySelector(".Home").style.top="100%";
    document.querySelector(".Home").style.opacity="0";

    fetch('http://api.openweathermap.org/data/2.5/weather?q=Seoul&appid=20313df3cc7ccf0b314fd37d36732f83&lang=kr&&units=metric')
    .then(data=>{
        return data.json();
    })
    .then(json => {
       
        
        console.log(json);
        document.querySelector('#weather_view').innerHTML = json.main.temp;
    })
    
});

document.querySelector(".bt").addEventListener('click', function () {
    document.querySelector(".join").style.width ="100%";
    document.querySelector(".join").style.height ="100%";
    document.querySelector(".join").style.top ="0%";
    document.querySelector(".Home").style.top="100%";
    document.querySelector(".Weather").style.top="100%";
    document.querySelector(".Home").style.opacity="0";
    document.querySelector(".Weather").style.opacity="0";
    document.querySelector("#join_view").style.display='block'

    fetch('http://localhost:3000/user')
    .then(data => {
        console.log(data)
        return data.text();
        
    })
    .then(text => {
       
        document.querySelector("#join_view").innerHTML = text;
    })
});


// let btn  = document.querySelector('.join');

// let btn_10 = function(){
//     document.querySelector(".join").style.width ="100%";
//     document.querySelector(".join").style.height ="100%";
//     document.querySelector(".join").style.top ="0%";
//     document.querySelector(".Home").style.top="100%";
//     document.querySelector(".Weather").style.top="100%";

//     fetch('http://localhost:3000/user')
//     .then(data => {
//         return data.text();
//     })
//     .then(text => {
//         document.querySelector("#join_view").innerHTML = text;
//     })
//     btn.removeEventListener('click',btn_10);
// }
// btn.addEventListener('click',btn_10);

document.querySelector(".tb").addEventListener('click', function (event) {
    if(event.type == 'click' && document.querySelector(".ToDo").style.width !== "100%"){
        document.querySelector(".ToDo").style.width ="100%";
        document.querySelector(".ToDo").style.height ="100%";
        document.querySelector(".ToDo").style.top ="0%";
        document.querySelector(".Home").style.top="100%";
        document.querySelector(".Home").style.opacity="0";
        document.querySelector(".Weather").style.top="100%";
        document.querySelector(".Weather").style.opacity="0";
        document.querySelector(".join").style.top="100%";
        document.querySelector(".join").style.opacity="0";

        //http://localhost:3000/board/
        let url = 'http://localhost:8001/board/';
        fetch(url)
        .then(result => {
            return result.text();
        })
        .then(text => {
            document.querySelector('#board_view').innerHTML = text;
        })
    } else {
        document.querySelector(".Home").style.width ="65%"
        document.querySelector(".Home").style.height ="562px";
        document.querySelector(".Home").style.top ="20%";
        document.querySelector("#Home_view").style.display = 'none';


        document.querySelector(".Weather").style.width ="65%";
        document.querySelector(".Weather").style.height ="562px";
        document.querySelector(".Weather").style.top="16%";
        document.querySelector(".Weather").style.opacity="1";
        document.querySelector(".Home").style.opacity="1";

        document.querySelector(".join").style.width ="65%";
        document.querySelector(".join").style.height ="562px";
        document.querySelector(".join").style.top ="12%";
        document.querySelector(".join").style.opacity="1";
        document.querySelector("#join_view").style.display='none';

        document.querySelector(".ToDo").style.width ="65%" ;
        document.querySelector(".ToDo").style.height ="562px";
        document.querySelector(".ToDo").style.top ="8%"; 
    }
    

});

document.querySelector("#userId").addEventListener('click',()=>{
    document.querySelector(".Home").style.width ="65%"
    document.querySelector(".Home").style.height ="562px";
    document.querySelector(".Home").style.top ="20%";
    document.querySelector("#Home_view").style.display = 'none';


    document.querySelector(".Weather").style.width ="65%";
    document.querySelector(".Weather").style.height ="562px";
    document.querySelector(".Weather").style.top="16%";
    document.querySelector(".Weather").style.opacity="1";
    document.querySelector(".Home").style.opacity="1";

    document.querySelector(".join").style.width ="65%";
    document.querySelector(".join").style.height ="562px";
    document.querySelector(".join").style.top ="12%";
    document.querySelector(".join").style.opacity="1";
    document.querySelector("#join_view").style.display='none';

    document.querySelector(".ToDo").style.width ="65%" ;
    document.querySelector(".ToDo").style.height ="562px";
    document.querySelector(".ToDo").style.top ="8%"; 
})
</script>

<!-- 게시판 스크립트 -->
<script type="text/javascript">
    function boardJoin(){
        let url = 'http://localhost:8001/board/page/join';
        fetch(url)
        .then(result => {
            return result.text();
        })
        .then(text => {
            document.querySelector('#board_view').innerHTML = text;
        })
    }

    function postJoin(){
        console.log('aa1');
        let formData = document.querySelector('#join-form').serializeObject();
        console.log(formData);
        console.log('aa2');
        return false;
        /*
        fetch('http://localhost:8001/board/auth/join',{
            method: 'POST', // or 'PUT'
            body: JSON.stringify(data), // data can be `string` or {object}!
            headers:{
            'Content-Type': 'application/json'
            }
        })
        */
     }
</script>

{% if flag == '0' %}
<script type="text/javascript">
    alert('아이디와 패스워드가 일치하지 않습니다.')
</script>
{% endif %}


</body>
</html>

