<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <form action="/" method="post">
    <div id="login">
        <ul>
            <li>
                <input type="text" name="userid" placeholder="아이디를 입력하세요.">
            </li>
            <li>
                <input type="password" name="userpw" placeholder="비밀번호를 입력하세요.">
            </li>
        </ul>
      
        <input type="submit" class="bt1"  value="로그인 ">
    </div>
</form>

   
<button class="trigger" onclick="on()">회원가입</button>
<input type="button" value="회원가입" onclick="at();">

    <div id="view">

    </div>
    
    
    <script type="text/javascript">




  let bt = function at() {
    console.log('asdas')
    document.querySelector(".join").style.width ="100%";
    document.querySelector(".join").style.height ="100%";
    document.querySelector(".join").style.top ="0%";
    document.querySelector(".Home").style.top="100%";
    document.querySelector(".Weather").style.top="100%";
    fetch('http://localhost:3000/user_join')
    .then(data => {
        console.log(fetch('http://localhost:3000/user_join'))
        return data.text();
    })
    .then(text => {
        console.log(text)
        document.querySelector("#join_view").innerHTML = text;
    })
  }



    </script>
</body>
</html>